bin/
CMakeFiles/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
*.bak
*.ncb
*.suo
*.htm
*.exp
*.aps
*.obj
*manifest
*.pch
*.res
*.lib
*.dep
*.idb
*.vcproj
cmake_install.cmake
/SkyFire.sln
/CMakeCache.txt
/mysql_version.h
/revision.h