dep/*
bin/*
build/*
*.orig
*.diff
*.rej
*.bin
CMakeFiles/*
*.vcproj
*.rule
*.stamp
*.depend
*.cmake
CMakeCache.txt
CactusEMU.sln
mysql_version.h
*.ncb
/revision.h
/src/genrevision/genrev.dir/*
/src/server/authserver/Release/*
/src/server/authserver/authserver.dir/*
/src/server/collision/Release/*
/src/server/collision/collision.dir/*
/src/server/game/Release/*
/src/server/game/game.dir/*
/src/server/scripts/Release/*
/src/server/scripts/scripts.dir/*
/src/server/shared/Release/*
/src/server/shared/shared.dir/*
/src/server/worldserver/Release/*
/src/server/worldserver/worldserver.dir/*
*.exp
*.user
*.lib
*.pdb
*.suo
*.idb